input {
  margin-bottom: 5px;
}

label {
  display: block;
  float: left;
  margin-bottom: 5px;
  width: 180px;
}

select {
  margin-bottom: 5px;
  height: 21.2px;
  width: 168.8px;
}

.float_left {
  float: left;
}

.spacer_input {
  border: none;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.spacer_label {
  height: 18.8px;
  width: 180px;
}

#right_col label {
  padding-left: 12px;
}
