label, input, select {
  font-size: 9pt;
}

/*input, .spacer_input {
  height: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.75em;
  width: 15em;
}

label, .spacer_label {
  float: left;
  height: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.75;
  padding-bottom: 0.75;
  width: 11em;
}

select {
  height: 0.5em;
  margin-bottom: 0.5em;
  padding: 1.07em;
  width: 16.75em;
}

.float_left {
  float: left;
}

.spacer_input {
  border: none;
}

#right_col label {
  padding-left: 1em;
}*/
